spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      dl-auto: update
      #ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  thymeleaf:
    cache: false
    prefix: classpath:templates/
    suffix: .html

  main:
    allow-bean-definition-overriding: true

logging.level:
  org.hibernate.SQL: debug
  #org.hibernate.type: trace